@model Vidhyalaya.Models.UserRegistrationViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LogOut.cshtml";
}

<h2>User Details</h2>
<p>
    <a type="button" class="btn btn-primary btn-sm"
       href="@Url.Action("Welcome", "Admin", new { area = "" })">
        <span class="glyphicon glyphicon-list"></span>
        <span>Back to Main menu</span>
    </a>

    <a>@Html.Partial("_CreateButtonPartial")</a>
</p>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hobby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hobby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })

    @Html.Partial("_BackToListButtonPartial")
</p>
