@model Vidhyalaya.Models.UserRegistrationViewModel

@{
    ViewBag.Title = "SearchIndex";

    }
<div class="col-md-9">

    @Html.TextBoxFor(m=>m.FirstName, new { @class = "form-control",placeholder ="search here" })

<table class="table table-striped">
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Gender
        </th>
        <th>
            Hobby
        </th>
        <th>
            EmailId
        </th>
        <th>
            IsEmailVerified
        </th>
        <th>
            Password
        </th>
        <th>
            ConfirmPassword
        </th>
        <th>
            RoleId
        </th>
        <th>
            CourseId
        </th>
        <th>
            AddressId
        </th>
        <th>
            AddAddressTextBox1
        </th>
        <th>
            AddAddressTextBox2
        </th>
        <th>
            CountryId
        </th>
        <th>
            CountryName
        </th>
        <th>
            StateId
        </th>
        <th>
            StateName
        </th>
        <th>
            CityId
        </th>
        <th>
            CityName
        </th>
        <th>
            DOB
        </th>
        <th>
            IsActive
        </th>
        <th>
            DateCreated
        </th>
        <th>
            DateModified
        </th>
        <th></th>
    </tr>
    <tbody id="userRow">

        @if (ViewBag.UserDetailsList != null)
        {
            foreach (var item in ViewBag.UserDetailsList)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Hobby
                    </td>
                    <td>
                        @item.EmailId
                    </td>
                    <td>
                        @item.IsEmailVerified
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.ConfirmPassword
                    </td>
                    <td>
                        @item.RoleId
                    </td>
                    <td>
                        @item.CourseId
                    </td>
                    <td>
                        @item.AddressId
                    </td>
                    <td>
                        @item.AddAddressTextBox1
                    </td>
                    <td>
                        @item.AddAddressTextBox2
                    </td>
                    <td>
                        @item.CountryId
                    </td>
                    <td>
                        @item.CountryName
                    </td>
                    <td>
                        @item.StateId
                    </td>
                    <td>
                        @item.StateName
                    </td>
                    <td>
                        @item.CityId
                    </td>
                    <td>
                        @item.CityName
                    </td>
                    <td>
                       @item.DOB
                    </td>
                    <td>
                        @item.IsActive
                    </td>
                    <td>
                        @item.DateCreated
                    </td>
                    <td>
                        @item.DateModified
                    </td>
                    <td>
                        <a href="#"><i class="glyphicon glyphicon-eye-open"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
    </div>

<div>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script>

        $(document).ready(function () {

            $("#FirstName").keydown(function () {

                var searchtext = $(this).val();
                $.ajax({

                    type: "Post",
                    url: "/Search/GetSearchRecord?SearchText=" + searchtext,
                    contentType: "html",
                    success: function (response) {
                        $("#userRow").html(response);
                    }
                });
            });

        });
    </script>

</div>