@model IEnumerable<Vidhyalaya.DB.SubjectInCourse> 

@{
    ViewBag.Title = "SubjectsList";
    Layout = "~/Views/Shared/LogOut.cshtml";
}

<h2>Subjects List</h2>


@if (Session["UserId"] != null)
{
    <h4>Hello @Session["UserName"].ToString()</h4>
}

    <p>
        <a type="button" class="btn btn-primary btn-sm"
           href="@Url.Action("Welcome", "Student", new { area = "" })">
            <span class="glyphicon glyphicon-list"></span>
            <span>Back to Main menu</span>
        </a>

    </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Course")
        </th>
        <th>
            @Html.DisplayName("Subject")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("MyProfile", "StudentProfile")
</p>
