@model IEnumerable<Vidhyalaya.DB.UserRegistration>

@{
    ViewBag.Title = "TeachersCourseList";
    Layout = "~/Views/Shared/LogOut.cshtml";
}

<h2>Teachers In Course</h2>
<p>
    <a type="button" class="btn btn-primary btn-sm"
       href="@Url.Action("Welcome", "Student", new { area = "" })">
        <span class="glyphicon glyphicon-list"></span>
        <span>Back to Main menu</span>
    </a>

</p>
<table class="table table-striped">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>

        </tr>
    }

</table>
<p>
    @Html.ActionLink("MyProfile", "StudentProfile")
</p>